@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BD Personas</h1>
    <p class="lead">BD Prueba - Personas</p>
    <p><a href="https://localhost:44317/Personas" class="btn btn-primary btn-lg">Ver Personas</a></p>
</div>