@model List<PruebaPersonas.Models.Persona>

@{
    ViewBag.Title = "Informe";
}

<h1>Informe de Personas</h1>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Fecha de Nacimiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var persona in Model)
        {
            <tr>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.Edad</td>
                <td>@(persona.FechaNacimiento?.ToShortDateString())</td>
            </tr>
        }
    </tbody>
</table>
